@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 300;
    src: url('GeneralSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 400;
    src: url('GeneralSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    src: url('GeneralSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 700;
    src: url('GeneralSans-Bold.woff') format('woff');
}